.bg-dark-custom {
	background-color: #3d3d3d;
}

.bg-green-custom {
	background-color: #81931e;
}

.text-green-custom {
	color: #a5c00f;
}

.clickable-icon {
	min-width: 48px;
	min-height: 48px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.nav-link {
	color: #a5c00f;
}

.nav-link:hover {
	color: #96af0e;
}